body{
    background-color:#ddf1f7;
}
h1 {
    font-family: 'Times New Roman';
    color: #2c7d96;
    text-align: center;
}

ul li{
    font-family: 'Times New Roman';
    font-size: 1.5em;
    color: rgb(25, 27, 27);
    text-align: justify;
    
    margin: 0.4rem;
    margin-left: 20em;
    border: 1.0px;
    border-radius: 1.5em;
}

#mododeJogo {
    display: flex;
    font-family: 'Times New Roman';
    color: rgb(25, 27, 27);
    font-size: 20px;
    margin-left: 550px;
}

#nivel {
    display: flex;
    font-family: 'Times New Roman';
    color: rgb(25, 27, 27);
    font-size: 20px;
    margin-left: -190px;

}

#titulo {
    display: flex;
    align-items: center;
    color: rgb(25, 27, 27);
    font-family: 'Times New Roman';
    font-size: 20px;
    margin-left: 10px;
}

#total{
    font-family: 'Times New Roman';
    color: rgb(25, 27, 27);
    text-align: center;
}

#botaoDeReset {
    font-family: 'Times New Roman';
    font-size: 23px;
    color: rgb(255, 255, 255);
    background-color: #2c7d96;
    text-align: center;
    width: 15vw;
    height: 3vw;
    margin-left: 600px;
    border: 1.0px;
    border-radius: 0.2em;
    box-shadow: 0.8em;

}

button{
    font-family: 'Times New Roman';
    font-size: 0.9em;
    color: aliceblue;
    background-color: #2c7d96;
    text-align: center;
    width: 4vw;
    height: 3vw;
    border: 8px;
    border: #1e202027;
    border-radius: 0.2em;
    box-shadow: 0.8em;
    
}

#jogador {
    font-family: 'Times New Roman';
    color: rgb(1, 2, 2);
    text-align: center;
}

#jogador2 {
    font-family: 'Times New Roman';
    color: rgb(1, 2, 2);
    text-align: center;
}
